header {
border-width: 10px;
border-style: double;
border-color: cornflowerblue;
font-size: 30px;
text-align: center;
margin: 10px auto;
height: 200px;
width: 80%;
}

#word {
    border-width: 10px;
    border-style: double;
    border-color: cornflowerblue;
    font-size: 100px;
    text-align: center;
    margin: 10px auto;
    height: 200px;
    width: 80%;   
}

#win-text {
border-width: 10px;
border-style: double;
border-color: cornflowerblue;
font-size: 30px;
text-align: center;
margin: 10px auto;
height: 200px;
width: 80%;
}

#guess-count {
border-width: 10px;
border-style: double;
border-color: cornflowerblue;
font-size: 30px;
text-align: center;
margin: 10px auto;
height: 200px;
width: 80%;
}

#guesses-letters {
    border-width: 10px;
    border-style: double;
    border-color: cornflowerblue;
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
    height: 200px;
    width: 80%;
    }